@use '../../../styles/helpers/' as *;

.leftCard {
    display: flex;
    flex-direction: column;

    flex: 1 1 50%;
    min-width: 0;

    padding-top: rem(5);
    padding-left: rem(5);
    padding-bottom: rem(36);

    display: flex;
    flex-direction: column;
    
    clip-path: polygon(
        0 0,
        100% 0,
        85% rem(25),
        100% rem(50),
        85% rem(75),
        100% rem(100),
        85% rem(125),
        100% rem(150),
        85% rem(175),
        100% rem(200),
        85% rem(225),
        100% rem(250),
        0 rem(250)
    );

    transform: translateX(0);
    transition: transform 0.3s ease;

    border-radius: rem(10);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &--mix {
        background-color: var(--redBlack);     
    }

    &--redAlarm {
        background-color: var(--redBlack);
    }

    &--greenAlarm {
        background-color: var(--greenBlack);
    }

    &--yellowAlarm {
        background-color: var(--yellowBlack);
    }

    &--selected {
        transform: translateX(8%);
    }

}

.leftCard__blockBrigadeName {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    width: 85%;

    font-size: rem(14);

    color: var(--black);

    & span {
        max-width: 100%;

        white-space: nowrap;

        overflow: hidden;

        text-overflow: ellipsis;

        border-bottom: rem(3) dotted var(--black);
    }

}

.leftCard__blockPersonInfo {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 85%;

    font-size: rem(13);

    color: var(--white);

    & span {
        max-width: 100%;

        white-space: nowrap;

        overflow: hidden;

        text-overflow: ellipsis;
        
    }
}

.leftCard__blockJob {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: rem(5);

    width: 85%;

    font-size: rem(13);

    color: var(--black);

    & span {
        max-width: 100%;

        white-space:  nowrap;

        overflow: hidden;

        text-overflow: ellipsis;
    }
}

.leftCard__jobText {
    max-width: 100%;

    white-space:  nowrap;

    overflow: hidden;

    text-overflow: ellipsis;

    color: var(--white);
}

.leftCard__blockProblem {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: rem(5);

    font-size: rem(13);

    width: 85%;

    color: var(--white);

}

.leftCard__titleProblem {
    max-width: 100%;

    white-space:  nowrap;

    overflow: hidden;

    text-overflow: ellipsis;

    color: var(--black);
}

.leftCard__textProblem {
    max-width: 100%;

    white-space: nowrap;

    overflow: hidden;

    text-overflow: ellipsis;

    color: var(--white);
}

.leftCard__acceptButton {
    position: absolute;
    
    bottom: 0;
    left: 0;

    width: max-content;
    height: rem(25);

    padding: rem(1);

    background-color: var(--white);
    color: var(--black);

    border-radius: rem(10);
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    
    box-shadow: 0 0 0 rem(10) var(--black);
}