@use '../helpers/' as *;

.article {
    display: flex;
    flex-direction: column;
    gap: rem(10);
    border: rem(1) solid #080628;
    border-radius: rem(10);
    padding: rem(20) 0;

    &__month {
        display: flex;
        justify-content: space-between;
        color: white;
        font-weight: bolder;
    }

    &__arrow {
        display: flex;
        gap: rem(10);
    }

    &__blockDays {
        display: flex;
        gap: rem(10);
        overflow: scroll;
        scrollbar-width: none;
    }

    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 0 rem(40);
    }

    &__dayOfWeek {

    }

    &__dayAndIcone {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border-radius: rem(10);

        &.article__dayAndIcone_alarm {
            background-color: #393101;
        }

        &.article__dayAndIcone_today {
            background-color: gray;
        }
    }

    &__day {

    }

    &__exclamation {
        opacity: 0;
    }

    &__exclamation_red {
        color: red;
    }
    &__exclamation_yellow {
        color: yellow;
    }
}