@use '../helpers/' as *;

.section {

  &__article {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: rem(4);
  }

  &__oneDate {
    overflow: hidden;
    border-radius: rem(4);
    color: black;
    font-size: rem(12);
  }

  &__oneDateWork {
    background: green;
  }

  &__restBlock {
    border-radius: rem(4);
    background: #f3f4f6;
  }
}