@use '../../styles/helpers/' as *;

.scheduleChange {
    display: flex;
    flex-direction: column;
    gap: rem(10);
    padding-bottom: rem(40);
    
}

.scheduleChange__h4 {
    display: flex;
    justify-content: flex-start;
    color: var(--white);
    font-size: rem(20);
}