@use '../../../../../../styles/helpers/' as *;

.personDropdownItem {
    display: flex;
    gap: rem(10);

    width: 100%;

    border-bottom: rem(1) solid var(--black);

}

.personDropdownItem__personInfo {
    display: flex;
    gap: rem(10);

    width: 40%;
}

.personDropdownItem__textName {
    color: var(--white);

    &--gray {
        color: var(--black);
    }
}

.personDropdownItem__alarmBlock {
    width: 40%;
}

.personDropdownItem__textNameAlarm {
    color: var(--redAlarm);
}

.personDropdownItem__alarmStatus {
    color: var(--textWhite);
    

    &--red {
        color: var(--redAlarm);
    }

    &--yellow {
        color: var(--yellowAlarm);
    }

    &--birthday {
        color: var(--birthdayStatus);
    }

}

.personDropdownItem__buttons {
    display: flex;
    gap: rem(10);

    width: 20%;
}

.personDropdownItem__button {
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 1;

    color: var(--black);
    background-color: var(--white);

    border-radius: rem(10);
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;

    &:focus-visible {
        outline: 1px solid var(--textFocusVisible);
    }
}

.personDropdownItem__dropdownAlarm {
    color: var(--redAlarm);
}

.personDropdownItem__dropdownAlarmYellow {
    color: var( --yellowAlarm);
}