/*src/assets/styles/_variables.scss*/

//background-color: #AC5045; красный 
//background-color: #658761; зеленый
//background-color: #C59B27; желтый
// color: #D6D5D0; белый
// color: #23211E; черный
//background-color: #4A6FA5; синий активен
//background-color: #7093CD; синий светлый мерцание
// #23211E серый 

:root {
    
    --bgColor: #23211E;

    --redAlarm: #FF786B;
    --yellowAlarm: #FFE054;
    --greenAlarm: #8AE082;

    --blue: #4A6FA5;
    --blue99: #4A6FA599;
    --blue66: #4A6FA566;

    --white: #D6D5D0;
    --white99: #D6D5D099;

    --black: #23211E;

    --textFocusVisible: green;

}