/*src/styles/main.scss*/

@use './fonts';
@use './globals';
@use './normalize';
@use './utils';
@use './varibles' as *;
@use './helpers/index' as *;

html,
body {
  min-height: 100vh;
  margin: 0;
}

body {
  background-color: var(--firstColor);
  font-family:  sans-serif;
}
