@use '../../../styles/helpers/' as *;

.userChange {
    display: flex;
    flex-direction: column;
    gap: rem(10);
}

.userChange__replacementProcess {
    display: flex;
    flex-direction: column;
    gap: rem(10);
    background-color: #393101;
    border-radius: rem(10);
    padding: rem(10);
}

.userChange__title {
    display: flex;
    align-items: center;
    gap: rem(10);
    border-bottom: rem(1) solid white;

}

.userChange__button {
    display: flex;
    align-items: center;
    color: white;
    align-self: flex-start;
}

.userChange__text {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.userChange__nameBrigade {
    color: white;
}

.userChange__time {
    color: white;
    margin-bottom: rem(10);
}

.userChange__participants {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userChange__participant {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: rem(5);
    padding: rem(10);
    border: rem(1) solid white;
    border-radius: rem(10);
}

.userChange__participantTitle {
    font-size: rem(14);
    color: white;
}

.userChange__infoUser {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(5);
}

.userChange__iconeUser {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: rem(40);
    height: rem(40);
    background-color: gray;
    border-radius: 50%;
    color: white;
}

.userChange__textUser {
    display: flex;
    flex-direction: column;
}

.userChange__name {
    color: white;
}

.userChange__surname {
    color: white;
}

.userChange__problemUser {
    display: flex;
    align-self: flex-start;
    color: red;
}

.userChange__arrowRight {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.3;
    color: white;
}


.userChange__filters {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(5);
}

.userChange__search {
    display: flex;
    align-items: center;
    gap: rem(5);
    background-color: black;
    border-radius: rem(5);
    padding: rem(5);
    flex: 1;

}

.userChange__search-icon {
    display: flex;
    align-items: center;
    color: white;
}

.userChange__search-input {
    background-color: inherit;
    border: none;
}

.userChange__buttonFilter {
    display: flex;
    align-items: center;
    justify-content: center;
    border: white solid rem(1);
    border-radius: rem(5);
    padding: rem(5);
    gap: rem(5);
    color: white;
}

.userChange__buttonFilter-icon {
    display: flex;
    align-items: center;
    color: white;
}

.userChange__buttonFilter-text {
    color: white;
}

.userChange__buttonsCategoryes {
    display: flex;
    gap: rem(5);
}

.userChange__buttonsCategoryes-button {
    flex: 1;
    border-radius: rem(5);
    color: white;
    background-color: #393101;
}

.userChange__buttonsCategoryes-buttonReset {
    color: gray;
}

.userChange__peopleList {
    display: flex;
    flex-direction: column;
    gap: rem(10);
}

.userChange__person {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #393101;
    gap: rem(10);
    padding: rem(10);
    border-radius: rem(10);
}

.userChange__person-block {
    display: flex;
    align-items: center;
    gap: rem(20);
}

.userChange__person-icone {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: rem(60);
    height: rem(60);
    background-color: gray;
    border-radius: 50%;
    color: white;
}

.userChange__person-info {
    display: flex;
    flex-direction: column;
    gap: rem(1);
    font-size: rem(15);
    color: white;
}

.userChange__person-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}