@use '../../../styles/helpers/' as *;

.userChange {
    display: flex;
    flex-direction: column;
    gap: rem(10);
    padding-bottom: rem(40);
}

.userChange__dateStore {
    display: flex;
    align-items: center;
    gap: rem(5);
    
    flex-wrap: wrap;

    &--text {

        color: var(--white99);

    }

    &--date {

        color: var(--blue);

        white-space: nowrap;
    }
}

.userChange__filters {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: rem(5);

    margin-top: rem(20);
}

.userChange__search {
    display: flex;
    align-items: center;

    flex: 1;

    gap: rem(5);

    background-color: var(--white);

    border-radius: rem(10);
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;

    padding: rem(5);

}

.userChange__search-icon {
    display: flex;
    align-items: center;
    
    color: var(--black);
}

.userChange__search-input {
    width: 100%;

    border-radius: rem(5);
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;

    background-color: inherit;
    border: none;

    &:focus {
        outline: none;
        
    }

}

.userChange__buttonFilter {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: rem(5);

    border-radius: rem(10);
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;

    padding: rem(5);

    color: var(--black);
    background-color: var(--white);

}

.userChange__buttonFilter-icon {
    display: flex;
    align-items: center;

    color: var(--white);
}

.userChange__buttonFilter-text {
    color: var(--white);
}

.userChange__buttonsCategoryes {
    display: flex;

    flex-wrap: wrap;


    gap: rem(5);
}

.userChange__buttonsCategoryes-block {
    display: flex;
    gap: rem(5);
}

.userChange__buttonsCategoryes-button {

    display: flex;
    justify-content: center;
    align-items: center;
    
    min-height: 30px; 
    min-width: 55px;

    font-size: 14px;

    font-weight: 500;

    border-radius: rem(5);

    padding: rem(5);

    color: var(--white99);

    background-color: var(--blue66);

    border: rem(2) solid var(--blue);
}

.userChange__peopleList {
    display: flex;
    flex-direction: column;
    gap: rem(10);
}