@use '../../styles/helpers/' as *;

.replaceWorkerProcess {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: rem(200);
    position: relative;
}

// лева карточка
.replaceWorkerProcess__leftPerson {
    display: flex;
    flex-direction: column;
    gap: rem(10);

    flex: 1 1 50%;
    min-width: 0;

    padding-top: rem(5);
    padding-left: rem(5);
    padding-bottom: rem(36);

    display: flex;
    flex-direction: column;
    
    clip-path: polygon(
        0 0,
        100% 0,
        85% rem(25),
        100% rem(50),
        85% rem(75),
        100% rem(100),
        85% rem(125),
        100% rem(150),
        85% rem(175),
        100% rem(200),
        0 rem(200)
    );

    transform: translateX(0);
    transition: transform 0.3s ease;

    border-radius: rem(10);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &--red {
        background-color: var(--redBlack);
    }

    &--green {
        background-color: var(--greenBlack);
    }

    &--selected {
        transform: translateX(8%);
    }

}

.replaceWorkerProcess__leftPerson__brigadeName {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    width: 85%;

    font-size: rem(14);

    color: var(--black);

    text-decoration: underline;
    text-decoration-color: var(--black);
    text-decoration-style: dashed;
    text-decoration-thickness: rem(2);
    text-underline-offset: rem(5);
}

.replaceWorkerProcess__leftPerson__blockPersonInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 85%;

    font-size: rem(13);

    color: var(--white);
}

.replaceWorkerProcess__leftPerson__surnameName {

    overflow: hidden;

    white-space: nowrap;

    text-overflow: ellipsis;
    
}

.replaceWorkerProcess__leftPerson__blockJobTitle {
    width: 85%;

    font-size: rem(13);

    overflow: hidden;

    white-space:  nowrap;

    text-overflow: ellipsis;
}

.replaceWorkerProcess__leftPerson__problem {
    display: flex;
    gap: rem(5);
    font-size: rem(13);

    width: 85%;

    color: var(--white);
}

.replaceWorkerProcess__leftPerson__titleProblem {
    color: var(--black);
}

.replaceWorkerProcess__leftPerson__acceptButton {
    position: absolute;
    
    bottom: 0;
    left: 0;

    width: max-content;
    height: rem(25);

    padding: rem(1);

    background-color: var(--white);
    color: var(--black);

    border-radius: rem(10);
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    
    box-shadow: 0 0 0 rem(10) var(--black);
}

// права карточка
.replaceWorkerProcess__rightPerson {
    display: flex;
    flex-direction: column;
    gap: rem(10);

    position: relative;

    flex: 1 1 50%;
    min-width: 0;


    padding-top: rem(5);
    padding-right: rem(5);
    padding-bottom: rem(36);

    display: flex;
    flex-direction: column;

    background-color: var(--white);
    
    clip-path: polygon(
        100% 0,
        15% 0,
        0 rem(25),
        15% rem(50),
        0% rem(75),
        15% rem(100),
        0% rem(125),
        15% rem(150),
        0% rem(175),
        15% rem(200),
        100% rem(200)
    );
    
    transform: translateX(0);
    transition: transform 0.3s ease, color 0.3s ease;

    border-radius: rem(10);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &--selected {
        transform: translateX(-8%);
        background-color: var(--blue);
    }
    
}

.replaceWorkerProcess__rightPerson__brigadeName {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding-left: 15%;

    font-size: rem(14);

    color: var(--black);

    text-decoration: underline;
    text-decoration-color: var(--black);
    text-decoration-style: dashed;
    text-decoration-thickness: rem(2);
    text-underline-offset: rem(5);
}

.replaceWorkerProcess__rightPerson__blockPersonInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    padding-left: 15%;

    font-size: rem(13);

    color: var(--white);
}

.replaceWorkerProcess__rightPerson__blockJobTitle {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    color: var(--black);

    padding-left: 15%;

    font-size: rem(13);

    width: 100%;

    min-width: 0;
    
    overflow: hidden;
}

.replaceWorkerProcess__rightPerson__blockJobTitleText {

    text-align: right;
    width: 100%; 

    overflow: hidden;

    white-space: nowrap;

    text-overflow: ellipsis;
}

.replaceWorkerProcess__rightPerson__problem {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    gap: rem(5);

    padding-left: 15%;

    font-size: rem(13);

    color: var(--white);
}

.replaceWorkerProcess__rightPerson__titleProblem {
    color: var(--black);
}

.replaceWorkerProcess__rightPerson__dontSelected{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    
    padding-left: 50%;
    padding-right: 25%;

    color: var(--black);
}

.replaceWorkerProcess__acceptButton {
    position: absolute;
    
    bottom: 0;
    right: 0;

    width: max-content;
    height: rem(25);

    padding: rem(1);

    background-color: var(--white);
    color: var(--black);

    border-radius: rem(10);
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    
    box-shadow: 0 0 0 rem(10) var(--black);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;

    &--selected {
        opacity: 1;
        pointer-events: all;
    }
}