@use '../../styles/helpers/' as *;

//background-color: #AC5045; красный 
//background-color: #658761; зеленый
//background-color: #C59B27; желтый
// color: #D6D5D0; белый
// color: #23211E; черный
//background-color: #4A6FA5; синий активен
//background-color: #7093CD; синий светлый мерцание
// #23211E серый 
.replaceWorkerItem {
  position: relative;

  min-height: rem(100);
  width: 100%;

  list-style: none;

  background-color: var(--greenBlack);

  border-radius: rem(10);

  &--redAlarm {
    background-color: var(--redBlack);
  }
}

.replaceWorkerItem__info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: rem(55);
  width: calc(100% - 23%);

  padding: rem(10);

}

.replaceWorkerItem__info-name {
  color: var(--white);
  
  font-size: rem(18);
  
  white-space: nowrap;

  overflow: hidden;
}

.replaceWorkerItem__status {
  display: flex;

  height: 100%;
  
  padding-left: 24%;
  padding-right: rem(10);

}

.replaceWorkerItem__status1 {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  flex: 1 1 70%;
  margin-right: rem(10);


  &::after {
    content: '';

    position: absolute;

    top: 0;
    right: 0;

    height: 100%;

    border-right: rem(3) dotted var(--black);
  }
}

.replaceWorkerItem__status2 {
  display: flex;
  flex-direction: column;
  gap: rem(5);
  flex: 1 1 30%;
}

.replaceWorkerItem__jobTitle {
  font-size: rem(15);

  white-space: nowrap;

  overflow: hidden;
  
  color: var(--black);
}

.replaceWorkerItem__problem {
  font-size: rem(15);
  white-space: nowrap;
  overflow: hidden;
  color: var(--black);
}

.replaceWorkerItem__heCanTitle {
  font-size: rem(13);
}

.replaceWorkerItem__heCanBlock {
  display: flex;
  gap: rem(3);
}

.replaceWorkerItem__heCan {
  font-size: rem(15);
  
  color: var(--black);

  &--good {
    color: var(--white);
  }
}

.replaceWorkerItem__buttonSelect {
  position: absolute;
  top: 0;
  right: 0;

  background-color: var(--black);

  width: 20%;
  height: rem(30);

  border-radius: rem(10);
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;

  box-shadow: 0 0 0 rem(10) var(--black);

  z-index: 99;

}

.replaceWorkerItem__buttonPress {
  width: 100%;
  height: rem(30);
  
  overflow: hidden;

  font-size: rem(14);

  color: var(--black);
  background-color: var(--white);

  border-radius: rem(10);
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;

  transition: transform 0.3s ease;

  &:active {
    transform: scale(0.90);
  }

  &--selected {
    animation: pressed 2s infinite ease;

    @keyframes pressed {
      0% {
        background-color: var(--blue);
      }

      50% {
        background-color: var(--blue99);
      }

      100% {
        background-color: var(--blue);
      }
    }
    
  }

}

.replaceWorkerItem__buttonMore {
  position: absolute;
  bottom: 0;
  left: 0;

  background-color: var(--black);

  width: 20%;
  height: rem(30);

  border-radius: rem(10);
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;

  box-shadow: 0 0 0 rem(10) var(--black);

  z-index: 99;
}

.replaceWorkerItem__button2 {
  width: 100%;
  height: rem(30);

  overflow: hidden;

  font-size: rem(12);

  color: var(--black);
  background-color: var(--white);

  border-radius: rem(10);
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;

  transition: transform 0.3s ease;

  &:active {
    transform: scale(0.90);
  }

}